# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.env/
.envrc/

# =========================
# OpenCV / Media files
# =========================
*.avi
*.mp4
*.mov
*.jpg
*.png
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Editors / IDEs
# =========================
.vscode/
.idea/
*.swp

# =========================
# Jupyter (if used later)
# =========================
.ipynb_checkpoints/

# =========================
# Build / Cache
# =========================
build/
dist/
*.egg-info/
